/*** commun ***/
body {
    background-color: #81e8f1;
}

#listeErreur {
    width: 100%;
    float: left;
    background-color: #3cdbea;
    color: red;
    text-align: center;
    vertical-align: middle;
}

#enTete {
    width: 100%;
    height: 40px;
    float: left;
    background-color: #3cdbea;
    text-align: center;
    vertical-align: middle;
}

#Corps {
    width: 100%;
    float: left;
    text-align: center;
    vertical-align: middle;
}

a:hover {
    text-decoration: none;
}

.row {
    margin: 0px;
}

.listeAction {
    margin-top: 20px;
    margin-bottom: 20px;
}

.glyphicon:before {
    padding-right: 10px;
    float: left;
}

/*** admin ***/
#uploadFichier {
    width: 125px;
    height: 22px;
    margin-right: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #DDF;
}

#uploadFichier #file {
    cursor: pointer;
    height: 100%;
    position: absolute;
    top: 0;
    right: 0;
    font-size: 50px;
    opacity: 0;
    -moz-opacity: 0;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0)
}

/*** lien ***/
.vers {
    height: 100%;
    float: left;
    background-color: #3ca1ea;
    padding: 0 10px;
}

.vers:hover {
    background-color: #3cbeea;
}

.lienVers {
    height: 100%;
    display: block;
    padding: 8px;
    float: left;
    color: #fff;
}

#voirMessage {
    padding-left: 5px;
    display: inline;
}

#messageNonLue {
    float: left;
    display: inline;
}

#messageDuMJ.danger, #messageDesJoueur.danger {
    background-color: #880000;
}

/*** fiche Personnage ***/
.fichePersonnage .row {
    margin-top: 10px;
    margin-bottom: 10px;
}

.fichePersonnage .column .input-group {
    width: 100%;
    float: left;
}

.fichePersonnage .column button {
    width: 100%;
    float: left;
}

.fichePersonnage .column input {
    width: 100%;
    float: left;
}

.fichePersonnage .column textarea {
    width: 100%;
    float: left;
}

.fichePersonnage .column {
    text-align: left;
}

.fichePersonnage .column #po {
    max-width: 100px;
    float: left;
}

.glyphicon-lvl:before {
    content: url(icone/Level.jpg) " Level ";
}

.glyphicon-classe:before {
    content: url(icone/Classe.jpg) " Classe ";
}

.glyphicon-metier:before {
    content: url(icone/Métier.jpg) " Métier ";
}

.glyphicon-vie:before {
    content: url(icone/vie.jpg) " vie ";
}

.glyphicon-mana:before {
    content: url(icone/mana.jpg) " Mana ";
}

.glyphicon-force:before {
    content: url(icone/Force.jpg) " Force ";
}

.glyphicon-charisme:before {
    content: url(icone/Charisme.jpg) " Charisme ";
}

.glyphicon-education:before {
    content: url(icone/education.jpg) " Education ";
}

.glyphicon-dexterite:before {
    content: url(icone/dexterite.jpg) " Dexterite ";
}

.glyphicon-perception:before {
    content: url(icone/perception.jpg) " Perception ";
}

.glyphicon-constitution:before {
    content: url(icone/constitution.jpg) " Constitution ";
}

.glyphicon-chance:before {
    content: url(icone/chance.jpg) " Chance ";
}

.glyphicon-competence:before {
    content: url(icone/competence.jpg) " Competence ";
}

.glyphicon-sort:before {
    content: url(icone/sort.jpg) " Sort ";
}

.glyphicon-equipement:before {
    content: url(icone/equipement.jpg) " Equipement ";
}

.glyphicon-inventaire:before {
    content: url(icone/inventaire.jpg) " Inventaire ";
}

.glyphicon-po:before {
    content: url(icone/gold.jpg) " Gold ";
}

/*** message ***/
.listeMessages {
    padding-top: 10px;
}

.listeMessages .column {
    padding: 15px;
    text-align: left;
}

.listeMessages .column.dateUnMessage {
    text-align: right;
}

/*** carte ***/
.liste-img {
    padding: 0;
    height: 100%;
    display: inline-flex;
    vertical-align: middle;
}

.liste-img img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

#carte {
    padding: 0;
    width: 100%;
    height: 100%;
    display: inline-flex;
    vertical-align: middle;
}

#carteEnCour {
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.masqueCarte {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 2;
}

.adminCarte .column .input-group {
    width: 100%;
    float: left;
}

.adminCarte .column button {
    width: 100%;
    float: left;
}

.adminCarte .column input {
    width: 100%;
    float: left;
}

.caseMasqueCarte {
    float: left;
}

.adminCarte .caseMasqueCarte {
    border-style: solid;
    border-width: 1px;
}

.cacherCaseCarte {
    background-color: #000;
}

.caseCarteAfficher {
    background-image: url(./afficher.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

.caseCarteCacher {
    background-image: url(./cacher.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}

/*** fiche monster ***/
.ficheMonstre .column .input-group {
    width: 100%;
    float: left;
}

.ficheMonstre .column button {
    width: 100%;
    float: left;
}

.ficheMonstre .column input {
    width: 100%;
    float: left;
}

.ficheMonstre .column textarea {
    width: 100%;
    float: left;
}

.ficheMonstre .column select {
    width: 100%;
    float: left;
}

#listeBestiaire img {
    height: auto;
    max-width: 100%;
    max-height: 100%;
    margin: auto;
}

.glyphicon-nom:before {
    content: "Nom ";
}

.glyphicon-image:before {
    content: "Image ";
}

.glyphicon-isCacher:before {
    content: "Cacher ";
}

.glyphicon-attaque:before {
    content: "Attaque ";
}

.glyphicon-bonusDegat:before {
    content: "Bonus Degat ";
}

.glyphicon-reductionDegat:before {
    content: "Reduction Degat ";
}

.glyphicon-parade:before {
    content: "Parade ";
}

.glyphicon-esquive:before {
    content: "Esquive ";
}

.glyphicon-blocage:before {
    content: "Blocage ";
}

.glyphicon-contreAttaque:before {
    content: "Contre Attaque ";
}

.glyphicon-faiblesse:before {
    content: "Faiblesse ";
}

/*** manager Son ***/

/*** lanceur de dés ***/
.unDes {
    height: 52px;
    width: 52px;
    padding: 15px;
    margin: auto;
    background: #fff;
    border-radius: 10px;
    border: 2px solid #000;
    margin-bottom: 5px;
}

/*** manager navire ***/