<li><a href="{{ path('appbundle_configuration_field_add') }}"><i class="icon-clipboard3"></i> {{ 'configuration_field.label.create'|trans }}</a></li>
<li class="navigation-divider"></li>
<li><a href="{{ path('appbundle_configuration_field_type_index') }}"><i class="icon-price-tags"></i> {{ 'configuration_field_type.label.name'|trans }}</a></li>