easy_admin:
    design:
        menu:
            - User
            - label: 'Tate No Yusha Skill'
              children:
                - 'Weapon'
                - 'Skill'
            - label: 'Homestuck Craft'
              children:
                - 'Character'
                - 'Capacity'
                - 'Item'
                - 'TypeItem'
                - 'CategoryItem'
                - 'Craft'
                - 'Inventory'
                - 'VisibilityCraftItem'
            - label: 'RolePlay'
              children:
                - 'Map'
                - 'MappingMap'
                - 'Player'
                - 'FieldPlayer'
                - 'Bestiary'
                - 'FieldBestiary'
                - 'Whisper'
                - 'Universe'
                - 'ConfigurationField'
    site_name: 'roleplay by jp'
    entities:
        Skill:
            class: App\Entity\Skill
            list:
                fields:
                    - 'name'
                    - 'description'
                    - 'cost'
                    - { property: 'enable', type: 'toggle' }
                    - { property: 'image', type: 'image', base_path: '%path_easy_admin_file_directory%' }
                    - 'weapon'
                    - 'skillParent'
            form:
                fields:
                    - 'name'
                    - 'description'
                    - 'cost'
                    - { property: 'enable', type_options: { required: false} }
                    - 'weapon'
                    - 'skillParent'
            new:
                fields:
                    - {property: 'imageFile', type: 'file'}
            edit:
                fields:
                    - { property: 'imageFile', type: 'file', type_options: { required: false} }
        Weapon:
            class: App\Entity\Weapon
            list:
                fields:
                    - 'name'
                    - 'description'
                    - { property: 'image', type: 'image', base_path: '%path_easy_admin_file_directory%' }
                    - 'player'
            form:
                fields:
                    - 'name'
                    - 'description'
                    - 'player'
            new:
                fields:
                    - {property: 'imageFile', type: 'file'}
            edit:
                fields:
                    - { property: 'imageFile', type: 'file', type_options: { required: false} }
        User:
            class: App\Entity\User
            list:
                fields:
                    - 'id'
                    - 'name'
                    - 'email'
            form:
                fields:
                    - 'name'
                    - 'email'
                    - { property: 'roles', type: 'choice', type_options: { multiple: true, choices: { 'ROLE_USER': 'ROLE_USER', 'ROLE_SUPER_ADMIN': 'ROLE_SUPER_ADMIN' } } }
            show:
                fields:
                    - 'id'
                    - 'name'
                    - 'email'
                    - 'roles'
            new:
                fields:
                    - { property: 'plainPassword', type_options: { required: true} }
            edit:
                fields:
                    - { property: 'plainPassword', type_options: { required: false} }
            # new:
            #     fields:
            #         - { property: 'plainPassword', type_options: { required: true}, label: 'app.admin.user.plainPassword' }
            #     form_options: { validation_groups: ['Registration'] }
            # edit:
            #     fields:
            #         - { property: 'plainPassword', type_options: { required: false}, label: 'app.admin.user.plainPassword' }
            #     form_options: { validation_groups: ['Profile'] }
        Item:
            class: App\Entity\Item
            list:
                fields:
                    - 'name'
                    - 'description'
                    - 'cost'
                    - { property: 'image', type: 'image', base_path: '%path_easy_admin_file_directory%' }
                    - 'typeItems'
                    - { property: 'isVisible', type: 'toggle' }
                    - { property: 'isValid', type: 'toggle' }
            form:
                fields:
                    - 'name'
                    - 'description'
                    - 'cost'
                    - 'typeItems'
                    - 'isVisible'
                    - 'isValid'
            show:
                fields:
                    - 'id'
                    - 'name'
                    - 'description'
                    - 'cost'
                    - { property: 'image', type: 'image', base_path: '%path_easy_admin_file_directory%'  }
                    - 'typeItems'
                    - { property: 'isVisible', type: 'toggle' }
                    - { property: 'isValid', type: 'toggle' }
            new:
                fields:
                    - {property: 'imageFile', type: 'file'}
            edit:
                fields:
                    - { property: 'imageFile', type: 'file', type_options: { required: false} }
        TypeItem:
            class: App\Entity\TypeItem
            list:
                fields:
                    - 'name'
                    - 'categoryItem'
            form:
                fields:
                    - 'name'
                    - { property: 'categoryItem', type_options: { required: true } }
            show:
                fields:
                    - 'id'
                    - 'name'
                    - 'categoryItem'
        CategoryItem:
            class: App\Entity\CategoryItem
            list:
                fields:
                    - 'name'
            form:
                fields:
                    - 'name'
            show:
                fields:
                    - 'id'
                    - 'name'
        Craft:
            class: App\Entity\Craft
            list:
                fields:
                    - 'itemSourceOne'
                    - 'itemSourceTwo'
                    - 'operation'
                    - 'itemResult'
            form:
                fields:
                    - 'itemSourceOne'
                    - 'itemSourceTwo'
                    - 'operation'
                    - { property: 'operation', type: 'choice', type_options: { choices: {'Ou':'OR', 'Et':'AND' } }  }
                    - 'itemResult'
            show:
                fields:
                    - 'itemSourceOne'
                    - 'itemSourceTwo'
                    - 'operation'
                    - 'itemResult'
        Inventory:
            class: App\Entity\Inventory
            list:
                fields:
                    - 'character'
                    - 'item'
            form:
                fields:
                    - 'character'
                    - 'item'
            show:
                fields:
                    - 'character'
                    - 'item'
        VisibilityCraftItem:
            class: App\Entity\VisibilityCraftItem
            list:
                fields:
                    - 'character'
                    - 'craft'
                    - { property: 'isValid', type: 'toggle' }
            form:
                fields:
                    - 'character'
                    - 'craft'
                    - 'isValid'
            show:
                fields:
                    - 'character'
                    - 'craft'
                    - { property: 'isValid', type: 'toggle' }
        Capacity:
            class: App\Entity\Capacity
            list:
                fields:
                    - 'lvl'
                    - 'capacity'
                    - 'maxTypeItemCraft'
            form:
                fields:
                    - 'lvl'
                    - 'capacity'
                    - 'maxTypeItemCraft'
            show:
                title: 'app.admin.show.capacity'
                fields:
                    - 'lvl'
                    - 'capacity'
                    - 'maxTypeItemCraft'
        Character:
            class: App\Entity\Character
            form:
                fields:
                    - 'username'
                    - 'lvl'
                    - 'resource'
                    - 'player'
        Universe:
            class: App\Entity\Universe
        Player:
            class: App\Entity\Player
            list:
                fields:
                    - 'name'
                    - 'user'
                    - 'universe'
            form:
                fields:
                    - 'name'
                    - 'user'
                    - 'universe'
        Bestiary:
            class: App\Entity\Bestiary
            list:
                fields:
                    - 'name'
                    - { property: 'hide', type: 'toggle' }
                    - { property: 'image', type: 'image', base_path: '%path_easy_admin_file_directory%' }
                    - 'universe'
            form:
                fields:
                    - 'name'
                    - { property: 'hide', type_options: { required: false} }
                    - 'universe'
            new:
                fields:
                    - {property: 'imageFile', type: 'file'}
            edit:
                fields:
                    - { property: 'imageFile', type: 'file', type_options: { required: false} }
        ConfigurationField:
            class: App\Entity\ConfigurationField
            list:
                fields:
                    - 'name'
                    - 'description'
                    - 'universe'
            form:
                fields:
                    - 'name'
                    - 'description'
                    - 'universe'
        FieldPlayer:
            class: App\Entity\FieldPlayer
        FieldBestiary:
            class: App\Entity\FieldBestiary
        Whisper:
            class: App\Entity\Whisper
        Map:
            class: App\Entity\Map
            list:
                fields:
                    - 'name'
                    - { property: 'display', type: 'toggle' }
                    - { property: 'image', type: 'image', base_path: '%path_easy_admin_file_directory%' }
                    - 'horizontalAxis'
                    - 'verticalAxis'
                    - 'universe'
            form:
                fields:
                    - 'name'
                    - { property: 'display', type_options: { required: false} }
                    - 'horizontalAxis'
                    - 'verticalAxis'
                    - 'universe'
            new:
                fields:
                    - {property: 'imageFile', type: 'file'}
            edit:
                fields:
                    - { property: 'imageFile', type: 'file', type_options: { required: false} }
        MappingMap:
            class: App\Entity\MappingMap
