<div class="modal fade" id="modal-sheet-bestiary" tabindex="-1" role="dialog" aria-labelledby="sheet-bestiary-info-modal" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h3 id="sheet-bestiary-info-titre" class="modal-title text-center"></h3>
                <div id="sheet-bestiary-info-tags"></div>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-12">
                            <img id="sheet-bestiary-info-image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">{% trans %}Close{% endtrans %}</button>
            </div>
        </div>
    </div>
</div>
