{% extends "@green/layout.html.twig" %}

{% block main_container %}
    <div class="has-detached-right">
        <div class="container-detached">
            <div class="content-detached">
                <div class="row">
                    <div class="panel panel-white">
                        <div class="panel-heading">
                            <h6 class="panel-title">{% block title_page %}{% endblock %}</h6>
                        </div>
                        <div class="panel-body">
                            {% block main_container_page %}{% endblock %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="sidebar-detached">
            <div class="sidebar sidebar-default">
                <div class="sidebar-content">
                    <!-- Action buttons -->
                    <div class="sidebar-category">
                        <div class="category-title">
                            <span>{{ 'label.quick_shortcut'|trans }}</span>
                            <ul class="icons-list">
                                <li><a href="#" data-action="collapse"></a></li>
                            </ul>
                        </div>
                        <div class="category-content">
                            <div class="row">
                                {% block quick_shortcut_table_container %}{% endblock %}
                            </div>
                            <ul class="navigation navigation-alt navigation-accordion">
                                <li class="navigation-divider"></li>
                                {% block action_table_container %}{% endblock %}
                            </ul>
                        </div>
                    </div>
                    <!-- /action buttons -->
                </div>
            </div>
        </div>
    </div>
{% endblock main_container %}