<div class="panel panel-collapsed">
    <div class="panel-heading bg-slate-800">
        <h6 class="panel-title">{% block table_panel_title %}{% endblock %}</h6>
        <div class="heading-elements">
            <div class="heading-btn">
                {% block table_panel_btn %}{% endblock %}
            </div>
            <ul class="icons-list">
                <li><a data-action="collapse"></a></li>
                <li><a data-action="close"></a></li>
            </ul>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-columned">
            <thead>
            <tr>
                {% block table_panel_th %}{% endblock %}
            </tr>
            </thead>
            <tbody>
            {% block table_panel_tr %}{% endblock %}
            </tbody>
        </table>
    </div>
</div>