<div class="col-xs-6">
    <a href="{{ path('appbundle_map_index') }}" class="btn bg-orange-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-map"></i><span>{{ 'map.label.name'|trans }}</span></a>
</div>
<div class="col-xs-6">
    <a href="{{ path('appbundle_mapping_map_index') }}" class="btn bg-purple-400 btn-block btn-float btn-float-lg" type="button"><i
                class="icon-table2"></i><span>{{ 'mapping_map.label.name'|trans }}</span></a>
</div>