{% extends 'base.html.twig' %}

{% block body_attributes %}class="secure-login"{% endblock %}

{% block body %}
    {% if app.request.hasPreviousSession %}
        {% for type, messages in app.session.flashbag.all() %}
            {% for message in messages %}
                <div class="flash-{{ type }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
    {% endif %}
    <!-- CONTENT - START -->
    <div class="container-fluid page-create page-login page-reset-password">
        <div class="col-md-8">
            <div class="login-container">
                <div class="row">
                    <div class="col-md-8 col-sm-8 col-sm-offset-2">
                        <p>
                            <img class="img-responsive center-block" src="#" alt="logo"/>
                        </p>
                    </div>
                </div>

                {% block fos_user_content %}{% endblock %}
            </div>
        </div>
        <div class="col-md-4">
            <div class="login-background"></div>
        </div>
    </div>
{% endblock %}
