{% extends 'roleplay/roleplay.html.twig' %}

{% block main %}
    <div class="row">
        <div class="col-md-6 offset-md-3 col-md-offset-3 text-center">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}