{% extends 'base.html.twig' %}

{% block stylesheets %}{% endblock %}

{% block body %}
    <div id="homepage-app" class="container text-center">
        <h1><a href="{{ path('tate-no-yusha-skill') }}">{% trans %}tate-no-yusha-skill{% endtrans %}</a></h1>
        <hr>
        <h1><a href="{{ path('homestuck') }}">{% trans %}homestuck{% endtrans %}</a></h1>
        <hr>
        <h1><a href="{{ path('roleplay') }}">{% trans %}roleplay{% endtrans %}</a></h1>
    </div>
{% endblock %}
{% block javascripts %}{% endblock %}