<li><a href="{{ path('appbundle_module_add') }}"><i class="icon-plus"></i> {{ 'module.label.create'|trans }}</a></li>
<li><a href="#"><i class="icon-plus"></i> {{ 'universe_module.label.create'|trans }}</a></li>