<div class="col-xs-6">
    <a href="{{ path('appbundle_ship_index') }}" class="btn bg-indigo-400 btn-block btn-float btn-float-lg" type="button"><i class="icon-folder-check"></i><span>{{ 'ship.label.name'|trans }}</span></a>
</div>
<div class="col-xs-6">
</div>